/** || RESET CSS */
@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@1,500&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
    font-family: Montserrat, sans-serif;
}

/** || GENERAL */
.body__container {
    min-width: 1000px;
    width: 1500px;
    background-color: aqua;
    margin: 0 auto;
}

header {
    background-color: black;
    overflow: hidden;
    padding: 8px 16px;
}

/** || HEADER */

.header__flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: 1800px;
    margin: 0 auto;
}

#header__top {
    height: 50px;
}

#header__top .header__logo > span {
    font-size: 30px;
    color: #f0c300;
    text-shadow: 2px 4px 3px rgba(124, 155, 11, 0.747);
    margin-left: 20px;
}

.header__menu li {
    display: inline-block;
    padding: 0 20px;
}

.header__menu li > a {
    display: inline-block;
    position: relative;
    font-size: 15px;
    line-height: 50px;

    color: #f0c300;
    text-transform: uppercase;
}

.header__menu a:hover::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    border: 1px solid #f0c300;
}

.header__menu li span {
    display: inline-block;
    margin-left: 6px;
}

#header__div__search {
    background-color: rgba(240, 195, 0, 0.8);
    height: 40px;
    width: 340px;
    margin-right: 20px;
    border-radius: 20px;
    padding: 5px 0px 5px 5px;
}

#header__div__search input {
    font-family: "Lora", serif;
    font-size: large;
    display: inline-block;
    height: 100%;
    width: 85%;
    text-indent: 15px;
    outline: 0;
    border: 0;
    background-color: transparent;
}

#header__div__search button {
    float: left;
    height: 30px;
    width: 30px;
    border: 0;
    border-radius: 50%;
}

/* Clearfix*/
#header__div__search::after {
    overflow: auto;
}
