/** || RESET CSS */
@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@1,500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
    font-family: Montserrat, sans-serif;
}

/** || GENERAL */

/** || HEADER */
header {
    z-index: 2;
    background-color: black;
    padding: 0px 16px;
    position: sticky;
    top: 0;
}

.header__flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: 1800px;
    margin: 0 auto;
}

#header__top {
    height: 50px;
}

#header__top .header__logo > span {
    font-size: 30px;
    color: #f0c300;
    text-shadow: 2px 4px 3px rgba(124, 155, 11, 0.747);
    margin-left: 20px;
}

.header__menu li {
    display: inline-block;
    padding: 5px 20px;
}

.header__menu li > a {
    display: inline-block;
    position: relative;
    font-size: 18px;
    line-height: 50px;

    color: #f0c300;
    text-transform: uppercase;
}

.header__menu a:hover::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    border: 1px solid #f0c300;
}

.header__menu li span {
    display: inline-block;
    margin-left: 6px;
}

#header__div__search {
    background-color: rgba(240, 195, 0, 0.8);
    height: 40px;
    width: 380px;
    margin-right: 20px;
    border-radius: 20px;
    padding: 5px 0px 5px 5px;
}

#header__div__search input {
    font-family: "Lora", serif;
    font-size: large;
    display: inline-block;
    height: 100%;
    width: 85%;
    text-indent: 15px;
    outline: 0;
    border: 0;
    background-color: transparent;
}

#header__div__search button {
    float: left;
    font-size: large;
    height: 30px;
    width: 30px;
    border: 0;
    border-radius: 50%;
    outline: 0;
}

/* Clearfix*/
#header__div__search::after {
    overflow: auto;
}

/** HEADER MULTI-LEVEL MENU */
.header__main__category {
    position: relative;
}

.header__main__category ul {
    display: none;
    position: absolute;
}

li.header__main__category:hover {
    background-color: #f0c300;
}

li.header__main__category:hover > a {
    color: black;
}

li.header__main__category:hover > ul {
    display: block;
    top: 101%;
    left: 0;
    width: 200%;
    outline: 1px solid #f0c300;
}

.header__main__category ul li {
    display: block;
    line-height: 50px;
    background-color: black;
}

/* Lv 2 Menu */
li.header__main__category:hover > .list__sub__categories {
    display: block;
    top: 0;
    left: 100%;
    width: 200%;
    outline: 1px solid #f0c300;
}

/** || MAIN CONTAINER */

main {
    z-index: 1;
    height: fit-content;
    background: linear-gradient(45deg, rgba(234, 185, 45, 1) 0%, rgba(199, 152, 16, 1) 69%);
}

.container__content-center {
    padding-top: 2em;
    margin: 0 auto;
    width: 90%;
}

/** || CATEGORY IMAGE */
.categories__galery ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.category {
    flex: 0 0 50%;
    overflow: hidden;
    height: 50%;
    text-align: center;
}

li.category:nth-child(1),
li.category:nth-child(2) {
    flex-basis: 100%;
    margin-bottom: 20px;
}

.category__content-container {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    padding: 20px;
}

.category__thumbnail-padded-aspect-ratio-container {
    overflow: hidden;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
}

.category__thumbnail-padded-aspect-ratio-container .category__thumbnail-img {
    display: block;
    opacity: 0.76;
    width: 100%;
    height: 100%;
    object-fit: cover;

    transition: transform 0.9s ease;
}

.category__info {
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 2rem;
    color: #f0f0f0;
    font-size: 1.5rem;
    font-family: "Poppins";
    text-transform: uppercase;

    transition: opacity 0.5s ease-in-out;
}

.category__desc {
    font-size: 3rem;
}
.category__links {
    display: inline-block;
    margin-top: 20px;
    padding: 10px;
    background-color: black;
}

.category__links > a {
    cursor: pointer;
    color: #f0c300;
}

.category__content-container:hover .category__thumbnail-img {
    transform: scale(1.1);
    opacity: 1;
}

.category__content-container:hover .category__info {
    opacity: 1;
}

/** TOP PICK*/

.products-top-pick,
.featured-collection {
    text-align: center;

    border: none;
    outline: none;
    margin-bottom: 5rem;

    background-color: white;
    border-radius: 20px;
    box-shadow: 8px 8px 30px -10px black;
}

.section-header {
    display: inline-block;
    margin-bottom: 20px;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 2em;
    padding: 5px 10px;
    color: #f0c300;
    background-color: rgba(0, 0, 0, 1);
    border-radius: 10px;
    margin-top: 10px;
    width: fit-content;
}

.list-products {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.product {
    flex-basis: 25%;
    box-shadow: 5px 5px 10 12 black;
}

.product__image img {
    width: 100%;
    height: 100%;
}

@media (max-width: 600px) {
    .product {
        flex-basis: 50%;
    }
}
