

//  =================================
//  DISPLAY FLEX FOR THE CONTAINER
//  =================================





.icon-pagragraph {
    @include flex-container();
    
    icon {
        font-size: large;
    }

    p {
        font-size: 1rem;
        font-style: normal;
        font-weight: 300;
    }
}