/** || RESET CSS */


/** || GENERAL */


/** || HEADER */
.header {
    z-index: 2;
    background-color: black;
    padding: 0px 16px;
    position: sticky;
    top: 0;
}


.header__content {
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: 1800px;
    margin: 0 auto;
}

.logo {
    font-size: 30px;
    color: #f0c300;
    text-shadow: 2px 4px 3px rgba(124, 155, 11, 0.747);
    margin-left: 20px;
}

/** MENU */

.header__list li {
    display: inline-block;
    padding: 5px 20px;
}

.header__list li > a {
    display: inline-block;
    position: relative;
    font-size: 18px;
    line-height: 50px;
    color: #f0c300;
    text-transform: uppercase;
}

.header__list a:hover::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    border: 1px solid #f0c300;
}

.header__list li span {
    display: inline-block;
    margin-left: 6px;
}



#header__div__search {
    background-color: rgba(240, 195, 0, 0.8);
    height: 40px;
    width: 380px;
    margin-right: 20px;
    border-radius: 20px;
    padding: 5px 0px 5px 5px;
}

#header__div__search input {
    font-family: $font__header-search--primary, $font__header-search--secondary;
    font-size: large;
    display: inline-block;
    height: 100%;
    width: 85%;
    text-indent: 15px;
    outline: 0;
    border: 0;
    background-color: transparent;
}

#header__div__search button {
    float: left;
    font-size: large;
    height: 30px;
    width: 30px;
    border: 0;
    border-radius: 50%;
    outline: 0;
}


/** HEADER MULTI-LEVEL MENU */
.navigation-multilevel  {
    position: relative;
}

.navigation-multilevel  ul {
    display: none;
    position: absolute;
}

.navigation-multilevel  ul li {
    display: block;
    line-height: 50px;
    background-color: black;
}

.navigation-multilevel :hover {
    background-color: #f0c300;
}

.navigation-multilevel :hover > a {
    color: black;
}

.navigation-multilevel :hover > ul {
    display: block;
    top: 101%;
    left: 0;
    width: 200%;
}



/* Lv 2 Menu */
li.navigation-multilevel :hover > .list__sub__categories {
    display: block;
    top: 0;
    left: 100%;
    width: fit-content;


/** || MAIN CONTAINER */
main {
    z-index: 1;
    height: fit-content;
    background: linear-gradient(45deg, #eab92d 0%, #c79810 69%);
}

.main__container {
    padding-top: 2em;
    margin: 0 auto;
    width: 90%;
}





/** || CATEGORY IMAGE */
.categories ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.category {
    flex: 0 0 50%;
    overflow: hidden;
    height: 50%;
    text-align: center;
    padding: 20px;
}

.category:nth-child(1),
.category:nth-child(2) {
    flex-basis: 100%;
    margin-bottom: 20px;
}

.category__content {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
}

.category__thumbnail-padded-aspect-ratio-container {
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.category__thumbnail-padded-aspect-ratio-container .category__thumbnail-img {
    display: block;
    opacity: 0.76;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.9s ease;
}

.category__info {
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 2rem;
    color: #f0f0f0;
    font-size: 1.5rem;
    font-family: "Poppins";
    text-transform: uppercase;
    transition: opacity 0.5s ease-in-out;
}

.category__desc {
    font-size: 3rem;
}

.category__links {
    display: inline-block;
    margin-top: 20px;
    padding: 10px;
    background-color: black;
}

.category__links > a {
    cursor: pointer;
    color: #f0c300;
}

.category__content:hover .category__thumbnail-img {
    transform: scale(1.1);
    opacity: 1;
}

.category__content:hover .category__info {
    opacity: 1;
}

/** TOP PICK, FEATURED COLLECTION*/
.products-top-pick,
.featured-collection {
    text-align: center;
    border: none;
    outline: none;
    margin-bottom: 5rem;
    background-color: white;
    border-radius: 20px;
    box-shadow: 8px 8px 30px -10px black;
    margin: 20px;
}

.section-header {
    display: inline-block;
    margin-bottom: 20px;
    text-transform: uppercase;
    font-size: 2em;
    padding: 5px 10px;
    color: #f0c300;
    background-color: black;
    border-radius: 10px;
    margin-top: 10px;
    width: fit-content;
}

.list-products {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.product {
    flex-basis: 25%;
    padding: 20px;
    box-shadow: 5px 5px 10 12 black;
}

.product__image img {
    width: 100%;
    height: 100%;
}

@media (max-width: 600px) {
    .product {
        flex-basis: 50%;
    }
}

/*# sourceMappingURL=css.map */
