.modal-cover {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: $color-modal-background-transparent;
    z-index: 4;
    @include flex-container() {
        justify-content: center;
        align-items: center;
    }
}

.modal {
    max-width: 80%;
    max-height: 80%;
    padding: 20px;
    background-color: white;
    border: 1px solid black;
    border-radius: 20px;
    position: relative;

    &__social-media {
        @include flex-container($dir: column, $wrap: null);

        @each $name, $bg-color in $social-media {
            .btn-text-#{$name} {
                background-color: #{$bg-color};
                color: white;
            }
        }
    }

    hr {
        margin: 1em 0;
    }

    //! Experimental
    &__close-button {
        position: absolute;
        top: 0;
        right: 0;
        font-size: 2rem;
        font-weight: bold;
        color: black;
    }
}

.modal__social-media {
    @each $name, $bg-color in $social-media {
        .btn-text-#{$name} {
            background-color: #{$bg-color};
            color: white;

            i {
                display: inline-block;
                font-size: x-large;
                width: 30px;

                @include compatible-with-device("mobile", "l") {
                    font-size: small;
                }
            }

            p {
                display: inline-block;
            }
        }
    }
}
