//  =================================
//  TYPOGRAPHY
//  =================================
@import "https://fonts.googleapis.com/css2?family=Lora:ital,wght@1,500&display=swap";
@import "https://fonts.googleapis.com/css2?family=Poppins:wght@100;200&display=swap";


// TYPEFACE
$font-typeface-1: sans-serif;
$font-typeface-2: serif;


// FAMILY
$font-family-1 : "Montserrat";
$font-family-2 : "Poppins";

// OTHERS
$font-search: "Lora";

