//  =================================
//  RESET CSS COMPONENTS
//  =================================
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

a:visited,
a:active,
a:focus {
    color: black;
}

img {
    width: 100%;
}

ul {
    list-style: none;
}

button {
    font-family: inherit;
}
