//  =================================
//  COLOR
//  =================================

// BACKGROUND
$color-bg: #ebb734;
$color-transparent-bg: linear-gradient(45deg, #eab92d 0%, #c79810 69%);

// MODAL
$color-modal-background-transparent: rgba(0, 0, 0, 0.3);

// FONT
$color-font-1: #f0c300;
$color-font-2: white;

// BORDER
$color-border: rgba(240, 195, 0, 0.8);

// OUTLINE
$color-outline: rgba(240, 195, 0, 0.8);
