//  =================================
//  COLOR
//  =================================


// BACKGROUND
$color-bg: black;
$color-transparent-bg: linear-gradient(45deg, #eab92d 0%, #c79810 69%);


// FONT
$color-font-1: #f0c300;
$color-font-2: white;
$color-font--hover: #f0c300;


// BORDER
$color-border: rgba(240, 195, 0, 0.8);


// OUTLINE
$color-outline: rgba(240, 195, 0, 0.8)
