.contactus {
    width: 50vw;
    height: 100%;
    padding-bottom: 20px;
    text-align: center;
    &__form {
        padding: 5em 0;
    }

    &__title {
        font-size: 2em;
    }

    &__content {
        textarea {
            height: 20vh;
            min-height: 20vw;
        }
    }
}

hr {
    margin: 20px auto;
}
