.btn {
    text-align: start;
    border: none;
    color: white;
    padding: 1em 2em;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;

    text-transform: uppercase;
    font-weight: 700;
    > * {
        vertical-align: middle;
    }

    &:visited,
    &:link {
        color: white;
    }
}

//  =================================
//  LINKS FOR MODAL FORM
//  =================================

@each $name, $bg-color in $social-media {
    .btn-text-#{$name} {
        background-color: #{$bg-color};
        display: block;

        i {
            display: inline-block;
            font-size: x-large;
            width: 3rem;

            @include compatible-with-device("mobile", "l") {
                font-size: small;
            }
        }

        p {
            display: inline-block;
            text-transform: none;
        }
    }
}

//  =================================
//  SUBMIT APPLIED FOR MODAL FORM
//  =================================
.btn-control {
    background-color: $color-bg;
    text-transform: uppercase;
    text-align: center;
}

.btn-control[value] {
    font-weight: 700;
}

.btn__modal-close {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 2rem;
    font-weight: bold;
    transform: translate(-50%, 0);
    color: black;
}
