//  =================================
//  INITIAL DECLARATION
//  =================================

html {
    scroll-behavior: smooth;
    font-size: 1rem;
    @include compatible-with-device("mobile", "l") {
        font-size: 1rem;
    }
}

body {
    font-family: $font-family-1, $font-typeface-1;
    background: linear-gradient(45deg, #eab92d 0%, #c79810 69%);
}

button {
    cursor: pointer;
}
