//  =================================
//  INITIAL DECLARATION
//  =================================

html {
    scroll-behavior: smooth;
    font-size: 1rem;
    @include compatible-with-device("mobile", "l") {
        font-size: 1rem;
    }
}

body {
    font-family: $font-family-1, $font-typeface-1;
    background-color: $color-transparent-bg;
}

html,
body {
    height: 100%;
}

header {
    z-index: 3;
    max-width: 100%;
}

main {
    z-index: 2;
    height: fit-content;
    background: linear-gradient(45deg, #eab92d 0%, #c79810 69%);
    overflow: auto;
}

button {
    cursor: pointer;
}
