//  =================================
//  RESET CSS COMPONENTS
//  =================================
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

div {
    border: 0;
    outline: 0;
}

a:visited,
a:link {
    color: black;
}

ul {
    list-style: none;
}

button {
    font-family: inherit;
}
